/build/

*.o
*.d
*.jpg
coordTrans-*
surfaces-*
*.pcd
*.pgm
*.ppm
*~

#exe files
AutoXplorationNMapping
gotoActionExample
main
robotControl
GuidedXnMapping
OfflineGuidedXnMapping
offlineMappingFromLS

#to ignore a file (most probably belongs to netbeans
.dep.inc


#to ignore folders
outputs/
nbproject/
include/
src/.idea
vision result
